@import "tailwindcss";
@import "tw-animate-css";


body{
  background-color: #000000;

}


div.ant-table-column-sorters{
  background-color: white !important;
  

  :hover{
    background-color: white !important;
    color: white !important;
  }

  &::after{
    :hover{
      background-color: white !important;
    }
  }
}